<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" style="background-color: #2a8dd3;">
  <div class="container">
    <a class="navbar-brand" href="/">Book store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/book">Sách</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/author">Tác giả</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown d-flex">
          <a class="nav-link dropdown-toggle me-2" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login">Đăng nhập</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>