<div class="row d-flex justify-content-center align-items-center mt-5 p-0" style="height: 300px;">
    <div class="col-12 col-md-6 login_page_form_container align-self-stretch my-3 py-3">
        <h3 class="my-4 text-center">Login page</h3>
        <form class="login_page_form">
            <div class="mb-3">
                <label for="usernameForm" class="form-label">Tên đăng nhập</label>
                <input type="text" name="username" class="form-control" id="usernameForm" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="passwordForm" class="form-label">Mật khẩu</label>
                <input type="password" name="password" class="form-control" id="passwordForm">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {{!-- <div class="col-12 col-md-6 login_page_images_container">
        <h3 class="login_page_title">Chào mừng các bạn đến với website bán sách Boogo</h3>
        <p class="login_page_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, minus amet.
            Quaerat reiciendis accusamus
            obcaecati eum exercitationem labore laudantium inventore ratione sint! Officiis ad pariatur ullam, aliquid
            modi adipisci iusto.</p>
    </div> --}}

</div>