<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/page_not_found.css">
</head>

<body>
    <div class="page_404">
        <div>
            <h1 class="page_404_title">404</h1>
            <span class="page_404_text">Trang này không tồn tại . <a href="/" class="page_404_go_home">Về trang chủ</a></span> 
        </div>
    </div>
</body>

</html>